<?php $count = 0; if(!empty($item->fields['logo'])) : ?>
                
                    <div class="uploadFile" rel="item-0">
                        <label for="" class="itemUploadDoc">Logo: <span>(tamanho mínimo: 196x35px)</span></label>
                        
                        <div class="boxBtnUpload<?php echo isset($item->fields['logo']) && !empty($item->fields['logo']) ? ' hide' : ''; ?>">
                            <button class="btnUploadFile btn btn-success"><i class="icon-plus icon-white"></i>Selecionar imagem</button>
                            <input type="file" id="materiaDocFile-<?php echo $count; ?>" name="materiaDocFile" class="uploadFile" accept=".jpg,.jpeg,.gif,.png,.tiff" rel="img" data-width="196" data-height="35" />
                            <span class="infoLoading">Fazendo upload da imagem. Aguarde...</span>
                            <span class="infoLoadingError feedback-hide">Ocorreu um erro durante o upload. Tente novamente.</span>
                            <span class="infoDeleteSuccess feedback-hide itemUploadDoc">A imagem foi excluída.</span>
                            <div class="boxLoadingFile"><?php echo Asset::img('loading-green-disabled.gif'); ?></div>
                            <input type="hidden" name="fields[logo]" class="fileUploaded" value="<?php echo isset($item->fields['logo']) ? $item->fields['logo'] : ''; ?>" />
                        </div>
                        
                        <div class="boxInfosImg<?php echo isset($item->fields['logo']) && !empty($item->fields['logo']) ? ' show' : ''; ?>">
                            <div class="imgInfos">
                                
                                <div class="img img-polaroid" style="float: none;">
                                    <?php if(isset($item->fields['logo']) && !empty($item->fields['logo'])) : ?>
                                        <img src="<?php echo $baseUrl . 'upload/img/160x90_' . $item->fields['logo'] . '?_' . time(); ?>" alt="<?php echo $item->titulo; ?>" />
                                    <?php else : ?>
                                        <?php echo Asset::img('interrogacao.jpg'); ?>
                                    <?php endif; ?>
                                </div>
                                <div class="imgInfos">
                                    <p><strong>Tamanho:</strong> <span class="tamanho"><?php echo $item->fields['logo_tamanho']; ?></span></p>
                                    <p><strong>Formato:</strong> <span class="formato"><?php echo $item->fields['logo_formato']; ?></span></p>
                                    <p><strong>Peso:</strong> <span class="peso"><?php echo $item->fields['logo_peso']; ?></span></p>
                                
                                    <input type="hidden" name="fields[logo_tamanho]" class="input-tamanho" value="<?php echo $item->fields['logo_tamanho']; ?>">
                                    <input type="hidden" name="fields[logo_formato]" class="input-formato" value="<?php echo $item->fields['logo_formato']; ?>">
                                    <input type="hidden" name="fields[logo_peso]" class="input-peso" value="<?php echo $item->fields['logo_peso']; ?>">
                                </div>
                                
                               
                                <div class="boxBtnDelete">
                                    <button class="btnDeleteFile btn btn-danger" rel="<?php echo isset($item->fields['logo']) ? $item->fields['logo'] . '|img' : ''; ?>"><i class="icon-trash icon-white"></i>Excluir imagem</button>
                                    <div class="boxLoadingDeleteFile"><?php echo Asset::img('loading-red-disabled.gif'); ?></div>
                                    <span class="infoDeleteError feedback-hide">Ocorreu um erro. Tente novamente.</span>
                                </div>

                                <span class="clear"></span>                                
                            </div>
                        </div>
                    </div>

                <?php else : ?>

                    <div class="uploadFile" rel="item-0">
                        <label for="" class="itemUploadDoc">Imagem: <span>(tamanho mínimo: 196x35px)</span></label>
                        
                        <div class="boxBtnUpload">
                            <button class="btnUploadFile btn btn-success"><i class="icon-plus icon-white"></i>Selecionar imagem</button>
                            <input type="file" id="materiaDocFile-<?php echo $count; ?>" name="materiaDocFile" class="uploadFile" accept=".jpg,.jpeg,.gif,.png,.tiff" rel="img" data-width="196" data-height="35" />
                            <span class="infoLoading">Fazendo upload da imagem. Aguarde...</span>
                            <span class="infoLoadingError feedback-hide">Ocorreu um erro durante o upload. Tente novamente.</span>
                            <span class="infoDeleteSuccess feedback-hide itemUploadDoc">A imagem foi excluída.</span>
                            <div class="boxLoadingFile"><?php echo Asset::img('loading-green-disabled.gif'); ?></div>
                            <input type="hidden" name="fields[logo]" class="fileUploaded" value="" />
                        </div>
                        
                        <div class="boxInfosImg">
                            
                            <div class="img img-polaroid" style="float: none;">
                                    
                            </div>
                            <div class="imgInfos">

                                <p><strong>Tamanho:</strong> <span class="tamanho"></span></p>
                                <p><strong>Formato:</strong> <span class="formato"></span></p>
                                <p><strong>Peso:</strong> <span class="peso"></span></p>

                                <input type="hidden" name="fields[logo_tamanho]" class="input-tamanho" value="">
                                <input type="hidden" name="fields[logo_formato]" class="input-formato" value="">
                                <input type="hidden" name="fields[logo_peso]" class="input-peso" value="">

                            </div>
                           
                        
                            <div class="boxBtnDelete">
                                <button class="btnDeleteFile btn btn-danger itemUploadDoc"><i class="icon-trash icon-white"></i>Excluir imagem</button>
                                <div class="boxLoadingDeleteFile"><?php echo Asset::img('loading-red2-disabled.gif'); ?></div>
                                <span class="infoDeleteError feedback-hide">Ocorreu um erro. Tente novamente.</span>
                            </div>

                            <span class="clear"></span>
                        </div>
                    </div>

                <?php endif; ?>